/* Noah's Color Palette by Noah */

$terminal: #30353A;
$jeans: #2B5D90;
$faded-jeans: #C1DCF7;
$frat-red: #C95A53;
$v-neck: #A7B8C9;
$weak-gray: #A7B8C9;
$sour-yellow: #E7FF00;
$metal: #8F9084;
$randy-newman: #fff;