---
pageable: true
per_page: 10
showit: true
---

<article>
  <h2>Apollo 11: Sights and Sounds</h2>

  <p>This is a hybrid artist book about the Apollo 11 mission created for my <a href="/2016/04/30/electronic-art.html">Electronic Art and Intermedia I</a> final.
    <br>
    The book as well as the accompanying audio are all available for free download below. I recommend using the PDF with Spreads, as it will allow you to easily view the written content and the associated imagery.

  <p>
    <h3>Book</h3>
    <h4><a href="/apollo/apollo11-sightsandsounds.pdf">Download book as PDF</a></h4>
    <h4><a href="/apollo/apollo11-sightsandsounds-spreads.pdf">Download book as PDF with Spreads</a></h4>

  </p>

  <p><h3>Audio</h3></p>

    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/222214066&amp;color=c95a53&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

  <p>
    <h3><a href="/2016/04/30/electronic-art.html">Read about the process</a></h3>

</article>