---
pageable: true
per_page: 10
isHomePage: true
title: INDEX
---

<!-- Blog banner -->
<div class="blog-banner show-for-large-up">
	<span class="blog-arrow"><img src="/images/arrow.svg" height=40 width=50></span>
	<div class="text-right">
		<h5>Check out my latest blog post!</h5>
		<h4><a href="blog.html"><%= page_articles[0].title %></a></h4>
	</div>
</div>

<section id="terminal">
	<div class="row">
		<div class="small-12 columns">
			<div class="terminal-window">
				<header>
					<div class="terminal-button green"></div>
					<div class="terminal-button yellow"></div>
					<div class="terminal-button red"></div>
				</header>
				<section class="terminal"`>
					<div class="history"></div>
					$&nbsp;<span class="prompt"></span>
					<span class="typed-cursor"></span>

				</section>
			</div>
			<!-- data -->
			<div class="terminal-data noah-run-output">                            
				-------------------<br>
				<p>
					Major: Computer Science<br>
					Skills: Development &amp; Design<br>
					Languages: Javascript, C++, C#, Ruby, Python<br>
					Frameworks: AngularJS, Rails, .NET MVC
				</p>
			</div>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="small-12 columns text-center">
			<h3>Hello! My name is Noah and I make stuff.</h3>
			<br>
			<a href="#projects" class="button large">View Projects</a>
		</div>
	</div>
</section>

<section id="projects">
	<div class="row">
		<div class="small-12 columns text-center">
			<h2>Code</h2>
		</div>
	</div>
	<br>
	<div class="row">

		<ul class="cards">

  		  <li class="cards__item">
		    <div class="card">
		      <div class="card__image card__image" style="background-image: url(/images/spartahack-logo.png)"></div>
		      <div class="card__content">
		        <div class="card__title">SpartaHack 2016</div>
		        <p>I work as a developer and designer on SpartaHack: the official Michigan State University annual hackathon.<br><br>
		        Read about <a href="/2016/03/12/spartahack2016.html">my experience</a>.</p>
		        <a href="http://spartahack.com" class="button btn--block card__btn">View Site</a>
		      </div>
		    </div>
		  </li>

		  <li class="cards__item">
		    <div class="card">
		      <div class="card__image card__image" style="background-image: url(http://chartholdr.io/pie/600/400)"></div>
		      <div class="card__content">
		        <div class="card__title">Chartholdr</div>
		        <p>Chartholdr is a quick and easy placeholder image service that delivers lorem ipsum charts and graphs.<br><br>
		        Read about it <a href="/2015/07/12/chartholdr.html">here</a>.</p>
		        <a href="http://chartholdr.io" class="button btn--block card__btn">View Site</a>
		      </div>
		    </div>
		  </li>

  		  <li class="cards__item">
		    <div class="card">
		      <div class="card__image card__image" style="background-image: url(/images/tempo.jpg)"></div>
		      <div class="card__content">
		        <div class="card__title">Tempo</div>
		        <p>Tempo is an iOS/Apple Watch app that builds playlists to match your heart rate.<br>This app was built by me and my two teammates at <a href="http://mhacks.org">MHacks</a>.</p>
		        <a href="http://devpost.com/software/tempo-g6hjks" class="button btn--block card__btn">View App</a>
		      </div>
		    </div>
		  </li>

		  <li class="cards__item">
		    <div class="card">
		      <div class="card__image card__image" style="background-image: url(/images/hue_monitor.jpg)"></div>
		      <div class="card__content">
		        <div class="card__title">Hue Monitor</div>
		        <p>Hue Monitor is an <a href="http://mhacks.org/">MHacks</a> submission that matches the average colors on your computer screen with an array of networked Phillips Hue light bulbs.</p>
		        <a href="https://github.com/NoahHines/HueMonitor" class="button btn--block card__btn">View App</a>
		      </div>
		    </div>
		  </li>

		  <li class="cards__item">
		    <div class="card">
		      <div class="card__image card__image" style="background-image: url(/images/json_resume.png)"></div>
		      <div class="card__content">
		        <div class="card__title">json_resume</div>
		        <p>I contributed to json_resume, an html resume generator.</p>
		        <a href="https://github.com/prat0318/json_resume" class="button btn--block card__btn">View Source</a>
		      </div>
		    </div>
		  </li>

		</ul>

	</div>

	<br><br><br>

	<div class="row">
		<div class="small-12 columns text-center">
			<h2>Intermedia</h2>
		</div>
	</div>
	<div class="row">

		<ul class="cards">

  		  <li class="cards__item">
		    <div class="card">
		      <div class="card__image card__image" style="background-image: url(/images/art/apollo-controls.jpg)"></div>
		      <div class="card__content">
		        <div class="card__title">Apollo 11 Sights and Sounds</div>
		        <p>An audio/visual artist book centered around the Apollo 11 mission.</p>
		        <a href="/apollo" class="button btn--block card__btn">View Book</a>
		      </div>
		    </div>
		  </li>

		  <li class="cards__item">
		    <div class="card">
		      <div class="card__image card__image" style="background-image: url(/images/art/updated-pioneer-plaque.jpg"></div>
		      <div class="card__content">
		        <div class="card__title">The Updated Pioneer Plaque</div>
		        <p>A series of pieces exploring a modern version of the Pioneer Plaque.</p>
		        <a href="/2016/04/30/electronic-art.html" class="button btn--block card__btn">View Art</a>
		      </div>
		    </div>
		  </li>
		  
		</ul>

	</div>

	<br><br><br>

	<div class="row">
		<div class="large-10 large-offset-1 columns">
			<div class="text-center">
				<p>Looking for my <a href="/resume">my resume</a>?</p>
			</div>
		</div>
	</div>
</section>

<section id="contact">
	<div class="row">
		<div class="large-8 large-offset-2 columns">
			<div class="card">
				<div class="card-section">
					<h2>Contact</h2>
					<br>
						<form action="http://formspree.io/hinesnoa@msu.edu" method="POST">
						<div class="row">
						    <div class="large-6 columns">
								<label>Name
									<input type="text" name="name" placeholder="Johnny Appleseed" />
								</label>
							</div>
							<div class="large-6 columns">
								<label>Email
									<input type="text" name="_replyto" placeholder="you@email.com" />
								</label>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="large-12 columns">
								<textarea name="message" rows="8" placeholder="Your message" style="height: 120px;"></textarea>
							</div>
						</div>
						<br><br>
						<div class="row">
							<div class="large-12 columns text-right">
								<input type="submit" value="Send" class="button primary large"></a>
						    </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

