---
pageable: true
per_page: 10
isHomePage: true
title: INDEX
---

<!-- Blog banner -->
<div class="blog-banner show-for-large-up">
	<span class="blog-arrow"><img src="/images/arrow.svg" height=40 width=50></span>
	<div class="text-right">
		<h5>Check out my latest blog post!</h5>
		<h4><a href="blog.html"><%= page_articles[0].title %></a></h4>
	</div>
</div>

<section id="terminal">
	<div class="row">
		<div class="small-12 columns">
			<div class="terminal-window">
				<header>
					<div class="terminal-button green"></div>
					<div class="terminal-button yellow"></div>
					<div class="terminal-button red"></div>
				</header>
				<section class="terminal"`>
					<div class="history"></div>
					$&nbsp;<span class="prompt"></span>
					<span class="typed-cursor"></span>

				</section>
			</div>
			<!-- data -->
			<div class="terminal-data noah-run-output">                            
				-------------------<br>
				Noah Hines v0.21.0: 
				<p>
					Major: Computer Science<br>
					Skills: Development &amp; Design<br>
					Languages: Javascript, C++, C#, Python, Ruby<br>
					Frameworks: AngularJS, .NET MVC, Node, Sass
				</p>
			</div>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="small-12 columns text-center">
			<h3>Hello! My name is Noah and I love solving problems.</h3>
			<br>
			<h4>I work with a team of developers called <a href="http://brainstormtrust.com">BrainStorm Trust</a> building responsive web apps.</h4>
			<br>
			<a href="#projects" class="button large">View Projects</a>
		</div>
	</div>
</section>

<section id="projects">
	<div class="row">
		<div class="small-12 columns text-center">
			<h2>Projects</h2>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="card-holder">
			<div class="card">
				<div class="project-thumbnail-img text-center">
					<img src="http://chartholdr.io/pie/200">
				</div>
				<div class="card-title text-center">
					<h3>Chartholdr.io</h3>
				</div>
				<div class="card-section">
					<p>Chartholdr is a quick and easy placeholder image service that delivers lorem ipsum charts and graphs. Similar to placehold.it, Chartholdr allows you to use short URLs to place charts into your website.</p>
					<p>If you're curious about the technical details, check out my blog post about Chartholdr <a href="2015/07/12/chartholdr.html">here</a>.</p>
					<div class="text-center">
						<a href="http://chartholdr.io" class="button">View Site</a>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="project-thumbnail-img text-center">
					<img src="/images/json_resume.jpg">
				</div>
				<div class="card-title text-center">
					<h3>json_resume</h3>
				</div>
				<div class="card-section">
					<p>After the first few weeks of working with the PhoneGap platform at my internship, I was living and breathing responsive design. Using this knowledge, I decided to expand json_resume to be fully-responsive, supporting mobile screen sizes. I made json_resume fully-responsive, minimized loading time, and added some personal styling of my own.</p>
					<div class="text-center">
						<a href="https://github.com/prat0318/json_resume" class="button">View Source</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br><br><br>

	<div class="row">
		<div class="large-10 large-offset-1 columns">
			<div class="text-center">
				<p>A full portfolio is included in <a href="/resume">my resume</a>.</p>
			</div>
		</div>
	</div>
</section>

<section id="contact">
	<div class="row">
		<div class="large-8 large-offset-2 columns">
			<div class="card">
				<div class="card-section">
					<h2>Contact</h2>
					<p>I'm currently looking for a software internship for Summer 2016. If you think you have work for me, please reach out.</p>
					<form action="http://formspree.io/noah@brainstormtrust.com" method="POST">
						<div class="row">
						    <div class="large-6 columns">
								<label>Name
									<input type="text" name="name" placeholder="Johnny Appleseed" />
								</label>
							</div>
							<div class="large-6 columns">
								<label>Email
									<input type="text" name="_replyto" placeholder="you@email.com" />
								</label>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="large-12 columns">
								<textarea name="message" rows="8" placeholder="Your message"></textarea>
							</div>
						</div>
						<br><br>
						<div class="row">
							<div class="large-12 columns text-right">
								<input type="submit" value="Send" class="button secondary large"></a>
						    </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

